<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
	<ServiceProvider Name="LaunchSSO" />

	<!-- Shibboleth -->
	<PartnerIdentityProvider Name="https://idp.testshib.org/idp/shibboleth"
		SignAuthnRequest="true"
		WantSAMLResponseSigned="false"
		WantAssertionSigned="false"
		WantAssertionEncrypted="false"
		UseEmbeddedCertificate="true"
		SingleSignOnServiceUrl="https://idp.testshib.org/idp/profile/SAML2/Redirect/SSO"/>
</SAMLConfiguration>